@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>SomeView</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <input type="hidden" id="customInput" value="@ViewBag.gameName" />
    <div>
        <table>
            <tr>
                <td><button class="gameBut" id="0,0"></button></td>
                <td>
                    <button class="gameBut" id="0,1">
                    </button>
                </td>
                <td><button class="gameBut" id="0,2"></button></td>
            </tr>
            <tr>
                <td><button class="gameBut" id="1,0"></button></td>
                <td>
                    <button class="gameBut" id="1,1"></button>
                </td>
                <td><button class="gameBut" id="1,2"></button></td>
            </tr>
            <tr>
                <td><button class="gameBut" id="2,0"></button></td>
                <td>
                    <button class="gameBut" id="2,1"></button>
                </td>
                <td><button class="gameBut" id="2,2"></button></td>
            </tr>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(function () {
            var gameName = $("#customInput")[0].getAttribute("value");
            console.log(gameName);
            console.log($.connection);
            var mainHub = $.connection.gameHub;

            mainHub.client.addMove = function (point, zero) {
                changeButton(point, zero ? 'X' : 'O');
                //.setAttribute("value", newValue);
            };
            mainHub.client.finishGame = function (message, point, zero) {
                changeButton(point, zero ? 'X' : 'O');
                alert(message);
                window.location.href = "/Home";
            };

            $.connection.hub.start().done(function () {
                mainHub.server.connect(gameName);
                $('.gameBut').on("click", function (evt) {
                    var point = evt.target.getAttribute('id').split(',');
                    mainHub.server.makeMove(point[0], point[1], gameName);
                });
                console.log("connected");
            });            
            function changeButton(point, symbol) {
                $('button[id="' + point + '"]').get()[0].textContent = symbol;
            }
        })
           
    </script>
</body>
</html>



